html {
    scroll-behavior: smooth;
}

body {
    font-family: 'lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
}

img {
    width: 704px;
    height: 407;
    background-color: #f1f3ff;
}

h1 {
    color: blue;    
}

h3 {
    color: chartreuse;
}

.first-car{
    font-family: fantasy;
    font-weight: 900;
    font-size: 50px;
    color:red;
}

.second-car{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 800;
    font-size: 45px;
    color:yellow;
}

.third-car {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: green;
}

.fourth-car {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 35px;
	color:skyblue;
}

.fifth-car {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 500;
	font-size: 45p30;
	color:orchid;
}
